@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>This webapp is created and maintained by <a href="https://www.linkedin.com/in/ahmad-al-taher/">Ahmad Al-Taher</a>.</h5>
    <h5>For all your softwares inquires contact me by LinkedIn or Discord (Zo#0126)</h5>
    <h6> Ahmad Al-Taher, B.Ing</h6>
    <a asp-action="History">Previous alerts</a>
</div>
