@{
    ViewData["Title"] = "Performence";
}

<div class="container">
    <div name="header" class="">
        <h1 class="d-inline">Performence</h1>
        <a class="btn btn-primary float-right" asp-area="" asp-controller="Performence" asp-action="Transaction">Add a transaction</a>



    </div>
    <div name="Today" class="table-responsive">
        <h1>Today</h1>
        <table class="table data-table table-dark text-center table-bordered">
            <thead>
                <tr>
                    <th>Win Rate</th>
                    <th>Average Win</th>
                    <th>Average lost</th>
                    <th>Gains</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50%</td>
                    <td>1550$</td>
                    <td>570$</td>
                    <td>550$</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div name="week" class="table-responsive">
        <h1>This Week</h1>
        <table class="table data-table table-dark text-center table-bordered">
            <thead>
                <tr>
                    <th>Win Rate</th>
                    <th>Average Win</th>
                    <th>Average lost</th>
                    <th>Gains</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50%</td>
                    <td>1550$</td>
                    <td>570$</td>
                    <td>550$</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div name="month" class="table-responsive">
        <h1>This Month</h1>
        <table class="table data-table table-dark text-center table-bordered">
            <thead>
                <tr>
                    <th>Win Rate</th>
                    <th>Average Win</th>
                    <th>Average lost</th>
                    <th>Gains</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50%</td>
                    <td>1550$</td>
                    <td>570$</td>
                    <td>550$</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div name="year" class="table-responsive">
        <h1>This Year</h1>
        <table class="table data-table table-dark text-center table-bordered">
            <thead>
                <tr>
                    <th>Win Rate</th>
                    <th>Average Win</th>
                    <th>Average lost</th>
                    <th>Gains</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50%</td>
                    <td>1550$</td>
                    <td>570$</td>
                    <td>550$</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
