@model OptionsSimulator.Models.Transaction

@{
    ViewData["Title"] = "Transaction";
}

<h1>Transaction</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Open date</label>
                <input type="datetime-local" class="form-control"/>
                <span class="text-danger">Leave empty if the position is opened today</span>
            </div>
            <div class="form-group">
                <label class="control-label">Close date</label>
                <input type="datetime-local" class="form-control" />
                <span class="text-danger">Leave empty if the position is still open</span>
            </div>
            <div class="form-group">
                <label class="control-label">Entry Price</label>
                <input asp-for="Entry" class="form-control" />
                <span asp-validation-for="Entry" class="text-danger">*Required</span>
            </div>
            <div class="form-group">
                <label class="control-label">Exit Price</label>
                <input type="number" class="form-control" />
                <span asp-validation-for="Exit" class="text-danger">Leave empty if the position is still open</span>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger">*Required</span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfContracts" class="control-label"></label>
                <input asp-for="NumberOfContracts" class="form-control" value="1"/>
                <span asp-validation-for="NumberOfContracts" class="text-danger">*Required</span>
            </div>
            <div class="form-group">
                <label asp-for="StrikePrice" class="control-label"></label>
                <input asp-for="StrikePrice" class="form-control" />
                <span asp-validation-for="StrikePrice" class="text-danger">*Required</span>
            </div>
            <div class="form-group">
                <label class="control-label">Contract Expiration date</label>
                <input type="datetime-local" class="form-control" />
                <span class="text-danger">Leave empty if the position is closing next saturday</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
