
@{
    ViewData["Title"] = "Alert";
}
<div class="container">
    <h1 class="text-center">PYX OPTION ALERT</h1>
    
    <div style="padding-top:30px">
        <h2 class="text-center" style="padding-bottom:20px">Charts</h2>
        <h4 class="text-center">4HR</h4>
        <img src="https://www.tradingview.com/x/VMqrTpwJ/" alt="4HR CHART" style="width:100%; height:auto" />
    </div>

    <div>
        <h4 class="text-center">WEEKLY</h4>
        <img src="https://www.tradingview.com/x/VMqrTpwJ/" alt="WEEKLY CHART" style="width:100%; height:auto" />
    </div>
        
    <div style="padding-top:30px">
        <h2 class="text-center" style="padding-bottom:20px">Trade Overview</h2>
        <h5>
            <strong>Option:</strong> JUNE 14 2019 PUT STRIKE 205
            <br />
            <strong>ENTRY POINT:</strong> $210-$211.0
            <br />
            <strong style="color:green;">PROFIT ZONE:</strong> $204
            <br />
            <strong style="color:green;">TARGET PROFIT:</strong> 150-180%
            <br />
            <strong style="color:red">STOP LOSS:</strong> $212-213
            <br />
            <strong style="color:red">POSSIBLE LOSS:</strong> 30-40%
            <br />
            <strong>RISK TO REWARD RATIO:</strong> 3:1 OR 6:1
        </h5>
    </div>    
    <div style="padding-top:30px">
        <h2 class="text-center" style="padding-bottom:20px">Description</h2>
        <p style="font-size:1.5rem;">
            TSLA has been on a huge move since the $177 bottom days ago where is
            ran a total of 50 points! This large move was met with huge resistance at
            $225 where sellers dropped the price in one day back down to $209. This
            large bearish candle shows the strength of the sellers and because options
            are so cheap on thursday this is not a bad play to swing. Please note this
            trade is only for experienced traders who understand how to trade options
            quickly. This should not be taken by anyone who cannot afford a day trade
            or lacks the skills to execute properly.
            If $TSLA sells off with any velocity we can expect it to dance around $204
            for a short period before going lower, but our first profit zone of $204 will
            be a serious target. This is not a sure play, it is all pending that 209 breaks
            very early in the morning and the stock doesn’t retest those levels. If there
            is any hesitation or delay in the selling than the bulls will take it. In that
            case I will keep a strong stop loss at $212 that needs to be honored
            because options are being traded so close to expiration.
        </p>
    </div>
    <div style="padding-top:30px">
        <h2 class="text-center" style="padding-bottom:20px">Discloser</h2>
        <h3 style="color:gray;">
            PLEASE REMEMBER THIS IS NOT FINANCIAL ADVICE PLEASE
            TRADE AT YOUR OWN RISK. THIS IS JUST INFORMATION FOR YOU
            TO USE AT YOUR DISCRETION. I AM NOT LIABLE FOR ANY LOSSES
            THAT RESULT FROM YOU TRADING.
        </h3>
    </div>
</div>