@using MarketMoves.Models.Enums
@model IEnumerable<MarketMoves.Models.Alert>
@{
    ViewData["Title"] = "Alerts";
}

<div class="container">
    <div name="header" class="">
        <h1 class="d-inline">Front office UI missing. </h1>
    </div>
    <div>
        @foreach (Alert alert in Model)
        {
            <a asp-action="Details" asp-route-id="@alert.Id">@alert.Title</a>
        }
    </div>
</div>